.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
.menu__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 780px;
  text-align: center;
  margin: auto;
}
.menu__subtitle {
  font-family: "Noto serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  max-width: 780px;
  text-align: center;
  margin: auto;
  padding-top: 24px;
  padding-bottom: 100px;
}
.menu__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 100px;
}
