.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 215px;
}
.recipes__title {
  max-width: 580px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px 80px;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px 80px;
}
.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
}

.recipes__video-caption {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 24px;
}
