.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.recipes__title {
  max-width: 580px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 24px 80px;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px 80px;
}
