.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0;
  text-align: center;
}
.reservation__form {
  margin: auto;
}

.form {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.form__fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 32px;
  max-width: 385px;
  width: 100%;
  border: none;
}
.form__label {
  padding-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__label_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__input {
  margin-bottom: 32px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input_checkbox {
  margin: 0;
}
.form__button {
  border-radius: 4px;
  height: 60px;
  background: #2f80ed;
  color: #ffffff;
  row-gap: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
